body {
  background: black;  
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

video {
  width: 1096px;
  height: 531px;
  border: 10px solid blue;
  border-radius: 5px;
}
