body {
  background: black;  
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 531px;
  height: 1096px;
}

video {
  width: 531px;
  height: 1096px;
  border: 10px solid blue;
  border-radius: 5px;
}
